/*Default style for every page*/
body {
    margin: 0;
    background-position: top;
    background-image: url(./pokeball.png);
    background-repeat: no-repeat;
    background-size: 900px;
    text-align: center;
    background-color: #ffeb9a;
}

/*Header section*/
.header {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: red;
    width: 100%;
}

.logo {
    margin-left: 50px;
    display: inline;
    float: left;
}

.logo a {
    text-decoration: none;
    color: #ffcb05;
}

.search-bar {
    float: right;
    display: inline;
    padding-top: 20px;
    margin-right: 50px;
}


.search-bar button {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 3% 2px;
    color: #ffcb05;
}

img {
    width: 25%;
    margin: 0 auto;
}

.pokemon-info {
    margin: 0 600px 500px 600px;
    padding: 70px;
    background-color:#ffd52b;
}

.pokemon-info h2 {
    color: #2a75bb;
    font-size: 300%;
}
.pokemon-info p {
    color: #2a75bb;
    font-size: 150%;
    font-weight: bold;

}