/*Default style for every page*/
body {
    margin: 0;
    background-position: top;
    background-image: url(./pokeball.png);
    background-repeat: no-repeat;
    background-size: 900px;
    text-align: center;
    background-color: #dcdcdc;
}

/*Header section*/
.header {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #808080;
    width: 100%;
}

.logo {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 5%;
    display: inline;
    float: left;
}

.search-bar {
    float: right;
    display: inline;
    margin-top: 15px;
    margin-right: 50px;
}


.search-bar button {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 3% 2px;
    color: #ffcb05;
}

img {
    width: 25%;
    margin: 0 auto;
}

.pokemon-info {
    margin: 0 600px 500px 600px;
    padding: 70px;
    background-color:#6b8299;
}

.pokemon-info h2 {
    color: #000000;
    font-size: 300%;
}
.pokemon-info p {
    color: #000000;
    font-size: 150%;
    font-weight: bold;
}

.pokemon-info img {
    width: 25%;
    margin: 0 auto;
}

.stats {
    display: inline;
}