<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
    <title>{% block title %}{% endblock %} - PokeDX</title>
</head>
<body>
    <!--Header for al pages-->
    <div id = "header">{% block header %} 
        <nav class = navbar>
            <div class = header>
                <h2 class = "logo"><a class = "logo-link" href="/">PokeDX</a></h2>
                <form action="/" method="POST">
                    <div class = "search-bar">
                        <input type="search" name="search">
                        <button type="submit">Buscar Pokemon</button>
                    </div>
                </form>
            </div>
        </nav>{% endblock %}</div>

    <div id="content">{% block content %}{% endblock %}</div>

    <div id = "footer">{% block footer %}{% endblock %}</div>
    
</body>
</html>