<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>PokeDX</title>
</head>
<body>
    <!--Main page for pokemons-->
    <!--Add music to webpage-->
    <audio src="../audio/pokemon_theme.mp3"></audio>
    <!--Header-->
    <nav class = navbar>
        <div class = header>
            <h2>PokeDX</h2>
            <form action="/" method="POST">
                <div>
                    <input type="search" name="search">
                    <button type="submit">Buscar Pokemon</button>
                </div>
            </form>
        </div>
    </nav>

</body>
</html>