<!--Page for specified pokemon information-->
{% extends "base.html" %}
    <title>{% block title %} Pokemon {% endblock %} PokeDX</title>

    <!--Content-->
    {% block content %}
    <div>
        <div class = "pokemon-info">
            <!--Accessing json data-->
            <h2 style="text-transform: capitalize;">{{data['name']}}</h2>
            <p>Pokedex ID: {{data['id']}}</p>
            <p>Types: </p>

            {% for type in data['types'] %}
                <p style="text-transform: capitalize;">- {{type['type']['name']}}</p>
            {% endfor %}
            <br>
            
            <div class = "stats">
                <p>Default Stats: </p>
                {% for stat in data['stats'] %}
                    <p style="text-transform: capitalize;">{{stat['stat']['name']}} : {{stat['base_stat']}}</p>
                {% endfor %}
            </div>

            <img src="{{data['sprites']['front_default']}}">
        </div>
    </div>
    {% endblock %}
</body>
</html>